{% extends "base.html" %}
{% load static %}
{% block title %}کد تایید{% endblock title %}
{% block content %}

<!-- End Header -->
<main class="main rtl text-right">
    <div class="container section-main">
        <ul class="breadcrumb default-breadcrumb">
            <li><a href="{% url 'website:Home' %}"><i class="fa-light fa-home"></i></a></li>
            <li>کد تایید</li>
        </ul>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="login-popup  section-main">
                <div class="form-box">
                    <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                        <h3 class="banner-title font-weight-bold mb-4 main-title " style="font-size:16px;" >کد تایید ارسال شده به شماره تلفن {{ phone }} را وارد کنید</h3>
                        <form  method="post">
                        {% csrf_token %}
                            <div class="form-group">
                            {{form.code}}
                            </div>
                            <button class="btn btn-yellow btn-block btn-rounded" type="submit">
                                 تایید
                            </button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- End of Main -->

<script>
document.addEventListener("DOMContentLoaded", function() {
    {% if errors %}
        {% for error in errors %}
            Toastify({
                text: "{{ error|escapejs }}",
                duration: 3000,
                gravity: "top",
                position: "right",
                backgroundColor: "#FF4C4C"
            }).showToast();
        {% endfor %}
    {% endif %}
});
</script>


{% endblock content %}