{% extends "base.html" %}
{% load static %}
{% block title %}فراموشی گذرواژه{% endblock title %}
{% block content %}

<!-- End Header -->
  <main class="main rtl text-right">
            <div class="container section-main">
                <ul class="breadcrumb default-breadcrumb">
                    <li><a href="index-2.html"><i class="fa-light fa-home"></i></a></li>
                    <li><a href="template-pages.html">صفحات قالب</a></li>
                    <li> فراموشی گذرواژه</li>
                </ul>
            </div>
            <div class="page-content">
                <div class="container">
                    <div class="login-popup section-main">
                        <div class="form-box">
                            <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                                <h3 class="banner-title font-weight-bold mb-4 main-title ">فراموشی گذرواژه</h3>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="signin">
                                        <form action="#">
                                            <div class="form-group mb-3">
                                                <input type="text" class="form-control text-left" placeholder="شماره موبایل" required />
                                            </div>
                                            <button class="btn btn-yellow btn-block btn-rounded mt-5" type="submit">
                                                درخواست رمز جدید
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% endblock content %}