{% extends "base.html" %}
{% load static %}
{% block title %}ثبت نام{% endblock title %}

{% block content %}

<!-- End Header -->
<main class="main rtl text-right">
    <div class="container section-main">
        <ul class="breadcrumb default-breadcrumb">
            <li><a href="index-2.html"><i class="fa-light fa-home"></i></a></li>
            <li><a href="template-pages.html">صفحات قالب</a></li>
            <li> ثبت نام </li>
        </ul>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="login-popup  section-main">
                <div class="form-box">
                    <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                        <h3 class="banner-title font-weight-bold mb-4 main-title ">ثبت نام</h3>
                        <form action="#">
                            <div class="form-group">
                            {{form.first_name}}
                            </div>
                            <div class="form-group">
                                {{ form.phone }}
                            </div>
                            <div class="form-footer">
                                <div class="form-checkbox">
                                    <input type="checkbox" class="custom-checkbox" id="register-agree"
                                        name="register-agree" required />
                                    <label class="form-control-label" for="register-agree">
                                        اطلاعات شما محفوظ است
                                    </label>
                                </div>
                            </div>
                            <button class="btn btn-yellow btn-block btn-rounded" type="submit">
                                ثبت نام
                            </button>
                        </form>
                        <div class="form-choice text-center">
                            <label class="ls-m">ثبت نام</label>
                            <div class="social-links">
                                <a href="#" class="social-link social-google fab fa-google border-no"></a>
                                <a href="#" class="social-link social-facebook fab fa-facebook-f border-no"></a>
                                <a href="#" class="social-link social-twitter fab fa-twitter border-no"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- End of Main -->

{% endblock content %}